@using AuralizeBlazor.Options
@using Nextended.Core.Helper
@inherits BlazorJs.BlazorJsBaseComponent<Auralizer>

<style>

    .blazor-audio-visualizer-overlay-mode {
        margin: 0 auto;
        position: relative;
    }

    .blazor-audio-visualizer-overlay-mode canvas {
        bottom: 0;
        pointer-events: none; /* let mouse clicks pass to the underlying video element */
        position: absolute;
        touch-action: none; /* ditto for touch events */
    }

    #@(_id).blazor-audio-visualizer canvas {
        transition-property:opacity!important;
        transition-duration:.3s;
        transition-timing-function:ease;
        opacity: @Opacity.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)
    }

    #@(_id).blazor-audio-visualizer:not(:fullscreen):hover canvas {
        opacity: @HoverOpacity.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)
    }
    audio {
        height: 40px;
    }
    audio,
    video {
        display: block;
        width: 100%;
    }
</style>


<div @ref="ElementReference"
     class="@($"blazor-audio-visualizer-container {_containerMouseOverCls} {Class}")"
     style="@($"{(OverlayChildContent && ChildContent != null ? "" : $"{StyleStr()}")} {Style}")"
     @onmouseover="@HandleContainerMouseOver"
     @onmouseout="@HandleContainerMouseOut">
    @if (_trackListVisible || TrackListBehaviour == SelectionListBehaviour.AlwaysVisible)
    {
        @RenderList(TrackList, TrackListClass, TrackListPosition, TrackListMode, true, t => t.Label, (t, _) => PlayTrackAsync(t), IsCurrentTrack)
    }
    @if (TrackListBehaviour == SelectionListBehaviour.Toggleable && TrackList?.Any() == true)
    {
        @RenderListToggleButton(TrackListToggleButtonPosition, () => _trackListVisible = !_trackListVisible, AudioIcons.TrackList)
    }
    @if (_presetListVisible || PresetListBehaviour == SelectionListBehaviour.AlwaysVisible)
    {
        @RenderList(Presets, PresetListClass, PresetListPosition, PresetListMode, true, p => p.Name, (p, _) => ApplyPresetAsync(p, new PresetApplySettings(PresetApplyReason.UserSelectedFromList)), IsCurrentPreset)
    }
    @if (PresetListBehaviour == SelectionListBehaviour.Toggleable && Presets?.Any() == true)
    {
        @RenderListToggleButton(PresetListToggleButtonPosition, () => _presetListVisible = !_presetListVisible, AudioIcons.Spectrum)
    }
    
    @if (_actionListVisible)
    {
        @RenderList(Actions, "action", Position.Mouse, SelectionListMode.Compact, false, p => p.ToString(), ExecuteAction)
    }

    @if (!string.IsNullOrEmpty(_message))
    {
        <p class="@(_isMessageVisible ? "message" : "message message-fade-out")">@_message</p>
    }
    @if (OverlayChildContent && ChildContent != null)
    {
        <div @ref="_visualizer"
             id="@_id"
             class="@($"blazor-audio-visualizer blazor-audio-visualizer-overlay-mode {_visualizerMouseOverCls}")"
             @onwheel="@HandleMouseWheel"
             @onmousemove="@HandleMouseMove"
             @onmouseover="@HandleVisualizerMouseOver"
             @onmouseout="@HandleVisualizerMouseOut">
            @ChildContent
        </div>
    }
    else
    {
        <div @ref="_visualizer"
             id="@_id"
             class="@($"blazor-audio-visualizer {_visualizerMouseOverCls}")"
             @onwheel="@HandleMouseWheel"
             @onmousemove="@HandleMouseMove"
             @onmouseover="@HandleVisualizerMouseOver"
             @onmouseout="@HandleVisualizerMouseOut">
        </div>
        @ChildContent
    }
</div>


@code
{

    private RenderFragment RenderListToggleButton(Position position, Action clickAction, string content)
    {
        return @<div @onclick="clickAction" class="@($"selection-list-toggle-btn {position.ToDescriptionString()}")">
                   <svg class="icon-root icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                       @((MarkupString)content)
                   </svg>
               </div>;
    }

    private RenderFragment RenderList<T>(IEnumerable<T> source, 
        string cls, 
        Position position, 
        SelectionListMode mode, 
        bool hideAllListsOnClick,
        Func<T, string> toString = null, 
        Func<T, MouseEventArgs, Task> clickAction = null,
        Func<T, bool> isSelectedFunc = null)
    {
        var hideAction = hideAllListsOnClick ? (Action)(HideAllOpenToggleableLists) : () => {};
        isSelectedFunc ??= (item) => false;
        var additionalItemCls = position is Position.BottomLeft or Position.BottomRight ? "bottom" : "";
        toString ??= (item) => item.ToString();

        var style = position == Position.Mouse ? GetMousePosStyle() : "";
        var innerStyle = position == Position.Mouse ? "margin-top:0; margin-bottom:0" : "";
        return @<div style="@style" class="@($"selection-list {mode.ToDescriptionString()} {position.ToDescriptionString()} {cls}")">
                   <div style="@($"animation: none !important; {innerStyle}")" class="@($"inner-list {additionalItemCls}")">
                       @foreach (var item in source ?? Array.Empty<T>())
                       {
                           @if (clickAction != null)
                           {
                               <p class="@($"selectable-list-item {(isSelectedFunc(item) ? "selected" : "")}")" @onclick="(arg) => clickAction(item, arg).ContinueWith(_ => hideAction())">@toString(item)</p>
                           }
                           else
                           {
                               <p class="">@toString(item)</p>
                           }
                       }
                   </div>
               </div>;
    }
}