@using AuralizeBlazor.Features
@using AuralizeBlazor.Options

<button @onclick="() => _gradientApply = AutoGradientFrom.MetaCoverImage">Apply Gradients from Cover Image</button>
<Auralizer @ref=_vis
           @bind-Features="_features"
           InitialPreset="AuralizerPreset.RadialSpectrumScale"
           InitialRender="InitialRender.WithRandomData"
           KeepState="false"
           PreviewImageInPresetList="true"
           GradientChanged="@MainLayout.Instance.ColorsChanged"
           Presets="@AuralizerPreset.All.Except(new List<AuralizerPreset>{AuralizerPreset.ElectricPulse, AuralizerPreset.NeonPulse, AuralizerPreset.RoundBarsBarLevelColorMode}).ToArray()"
           OnPresetApplied="OnPresetApplied"
           TrackList="@TracksService.EyirishTracks"
           Height="700px"        
           ClickAction="VisualizerAction.TogglePlayPause"
           AutoApplyGradient="_gradientApply"
           ApplyBackgroundImageFromTrack="true"
           ContextMenuAction="VisualizerAction.None"
           FullPaged="_fullPaged"
           ShowTrackInfosOnPlay="true"
           BackgroundSize="contain"
           MetaInfosChanged="@MetaChanged"
           Overlay="false">
    <center>
        <audio class="audio-main mud-ex-animate-all-properties" autoplay="true" preload="metadata" loading="lazy" controls="true" src="@_file"></audio>
    </center>
</Auralizer>

@code {
    [Inject] IJSRuntime _jsRuntime { get; set; }

    private AutoGradientFrom _gradientApply;
    string _file;
    bool _fullPaged = false;
    private Auralizer _vis;
    private IVisualizerFeature[] _features = [new ShowLogoFeature { Label = string.Empty, LabelPosition = VisualPosition.CenterCenter }];


    protected override async Task OnInitializedAsync()
    {
        _file = TracksService.EyirishTracks[0].Url;
        _fullPaged = Navigation.FullPaged();
        await base.OnInitializedAsync();
    }

    private void OnPresetApplied(AppliedPresetEventArgs arg)
    {
        if (arg.ApplySettings.Reason is PresetApplyReason.UserSelectedFromList or PresetApplyReason.UserSelectedAsAction)
        {
            _vis.RemoveFeature<SwitchPresetFeature>();
        }
    }

    private void MetaChanged(TagLib.File f)
    {
        _vis.Feature<ShowLogoFeature>().Label = $"{string.Join(",", f.Tag.Performers)} - {f.Tag.Title}";
    }

}
