<div class="docs-section-source @Class">
    @if (!NoToolbar)
    {
        <MudToolBar DisableGutters="true" Dense="true">
            @if (ShowCode && !String.IsNullOrEmpty(Code2))
            {
                <MudButton Variant="Variant.Filled" Size="Size.Small" DisableElevation="true" Color="@Button1Color" OnClick="@(e => SwapCode(Code))">@ButtonTextCode1</MudButton>
                <MudButton Variant="Variant.Filled" Size="Size.Small" DisableElevation="true" Color="Button2Color" Class="ml-2" OnClick="@(e => SwapCode(Code2))">@ButtonTextCode2</MudButton>
            }
            <MudTooltip Text="@TooltipSourceCodeText" Placement="Placement.Top">
                <MudIconButton Icon="@Icons.Material.Filled.Code" Size="Size.Small" Class="pa-3" OnClick="OnShowCode" />
            </MudTooltip>
         </MudToolBar>
    }
    
    <MudExpansionPanel Text="Code">
        <div class="docs-source-code @(ShowCode? "docs-show-code" : "docs-hide-code")">
            @CodeComponent(CurrentCode)
        </div>
    </MudExpansionPanel>
</div>
